*{
  padding: 0;
  margin: 0;;
}
header{
  text-align: center;
  padding: 20px;
  color: blue;
  font-size: 15px;
  background-color: bisque;
}
#about img{
  width: 100%;
   padding: 10px;
}
#taitol{
  text-align: center;
  background-color: black;
  color: honeydew;
}
#about{
   text-align: center;
   padding: 100px;
   font-size: 20px;
}
#about p{
  font-size: 20px;
  padding: 10px;
}
#taitol h2{
  font-size: 36px;
  background-color: black;
  color: honeydew;
}
#taitol2 {
  text-align: center;
}
#taitol2 h2{
  font-size: 36px;
  padding: 20px;
  background-color: black;
  color: honeydew;
  margin-top: 5%;
}
.green-text{
  text-align: center;
  padding: 50px;
}
.green-text h3{
font-size: 36px;
color: greenyellow;
margin-top: 10%;
}
.green-text p{
  font-size: 20px;
  padding: 20px;
}
.green-text h2{
  text-align: center;
  font-size: 45px;
  margin-top: 0%;
  background-color: indianred;
}
.check-box {
  text-align: center;
  margin-top: 30px;
}

.check-box button {
  padding: 15px 30px;          /* ボタンを大きく */
  font-size: 20px;             /* 文字を大きく */
  background-color: #4CAF50;   /* 背景色（任意） */
  color: white;                /* 文字色 */
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.link-box{
  text-align: center;
  margin-top: 0%;
  font-size: 20px;

}
section h1{
 text-align: center;
  padding: 20px;
  color: blue;
  font-size: 30px;
        }
 body { font-family: sans-serif; text-align: center; font-size: 40px;}
        .skin-type {
            display: inline-block;
            margin: 10px;
            border: 1px solid green;
            padding: 5px 10px;
            border-radius: 4px;
        }
        .photo-btn {
            display: block;
            margin: 5px auto;
            border: 1px solid green;
            padding: 5px 15px;
            border-radius: 50%;
        }
        .select-box {
            margin-top: 20px;
            border: 1px solid green;
            display: inline-block;
            padding: 5px 10px;
        }
       .taitol3 p{
        background-color: rebeccapurple;
        color: honeydew;
        margin-top: 30px;
       }
        .options button{
padding: 15px 30px;          /* ボタンを大きく */
  font-size: 20px;             /* 文字を大きく */
  background-color: #4CAF50;   /* 背景色（任意） */
  color: white;                /* 文字色 */
  border: none;
  border-radius: 8px;
  cursor: pointer;
        }
        input[type="radio"]{
           width: 50px;
         height: 30px;
         accent-color: #9f7d32; /* 任意の色、モダンブラウザのみ */
        }
      label{
        font-size: 25px;
      }
      .zikko-box button{
         padding: 15px 30px;          /* ボタンを大きく */
  font-size: 20px;             /* 文字を大きく */
  background-color: red;   /* 背景色（任意） */
  color: white;                /* 文字色 */
  border: none;
  border-radius: 8px;
  cursor: pointer;
      }
      #resultPage {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
